*{
    margin: 0px;
    padding: 0px;
}

body {
    background: url(https://images8.alphacoders.com/490/490274.jpg);
    background-size: cover;
    height: 100vh;
}

.title {
    /* Deal with title elements*/
    position: absolute;
    /* Start element 20% from the top and 50% from the left*/
    top: 20%;
    left: 20%;
    transform: translated(-50%, -50%);
    color: white;
    text-align: center;
    /* Triples size of font*/
    font-size: 3em;

}

#main {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translated(-50%, -50%);
    width: 60%;
    color: white;
    text-align: left;
    margin: 20px auto;
    
}
